header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: both;
    text-align: center;
}

navigation {
    float: left;
    margin: 0;
	width: 15%;
	height: auto;
	background-color: grey;
	overflow: hidden;
}

content {
	float: right;
	width: 85%;
	background-color:white;
	height: auto;

}

login {
	background-color:grey;
	width: 3%;
	float: right;
	color: red;
	clear: both;
	padding: 1em;
}



